* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
    --secondary-color: #ff5b2e;
    --third-color: #656689;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% -48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.section__heading {
    color: var(--primary-color);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.section__desc {
    margin-top: 24px;
    color: var(--third-color);
    font-size: 1.6rem;
    line-height: 1.88;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    border-radius: 99px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: var(--height);
}

.btn:hover {
    /* color: #fff;
    background: var(--secondary-color);
    border-color: var(--secondary-color); */
    opacity: 0.9;
    cursor: pointer;
}

.btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    background: #fff;
}

/* Header */
.header {
    padding: 26px 0 8px;
}

.header.header--fixed {
    position: sticky;
    top: -18px;
    z-index: 99;
    background: rgba(255, 250, 245, 0.8);
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__signin {
    display: inline-block;
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.header-action__signin::before,
.navbar__link::before {
    display: block;
    height: 0;
    content: attr(title);
    font-weight: 600;
    overflow: hidden;
    visibility: hidden;
}

.header-action__signin:hover,
.navbar__link--active,
.navbar__link:hover {
    color: var(--primary-color);
    font-weight: 600;
}

.header-action__signup {
    --height: 50px;

    min-width: 117px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    color: var(--primary-color);
    font-size: 1.4rem;
}

/* Hero */
.hero {
    margin-top: 92px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    border: 2px solid #fcdee0;
    margin: 0 0 -58px -23px;
    background: #faa7ad;
}

.hero-card {
    position: absolute;
    left: 129px;
    bottom: 0;
    align-self: flex-end;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-card-item {
    display: flex;
    column-gap: 10px;
}

.hero-card-item__img-wrap {
    display: flex;
    align-items: flex-end;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.hero-card-item__img-wrap-top {
    background: #fec23f;
}

.hero-card-item__img-wrap-bottom {
    background: #c6e2fa;
}

.hero-card-item__thumb {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero-card-item__title {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-card-item__skeleton {
    height: 4px;
    border-radius: 10px;
    margin-top: 6px;
    opacity: 0.08;
    background: var(--primary-color);
}

.hero-card-item__skeleton-long {
    width: 118px;
}

.hero-card-item__skeleton-short {
    width: 39px;
}

.hero-card-item__separate {
    width: 100%;
    height: 2px;
    border-radius: 99px;
    margin: 20px 0;
    background: #f2f2f2;
}

.hero__heading {
    color: var(--primary-color);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    width: 391px;
}

.hero__actions {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__actions-btn {
    --height: 60px;

    min-width: 190px;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
    background: #ff5b2e;
    color: #fff;
}

.hero__actions-link {
    margin-left: 24px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}
