* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
    --secondary-color: #ff5b2e;
    --third-color: #656689;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% -48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.section__heading {
    color: var(--primary-color);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.section__desc {
    margin-top: 24px;
    color: var(--third-color);
    font-size: 1.6rem;
    line-height: 1.88;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    border-radius: 99px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: var(--secondary-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: var(--height);
}

.btn:hover {
    color: #fff;
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    cursor: pointer;
}

.btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    background: #fffaf5;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

/* Header */
.header {
    padding: 26px 0 8px;
}

.header.header--fixed {
    position: sticky;
    top: -18px;
    z-index: 99;
    background: rgba(255, 250, 245, 0.8);
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__signin {
    display: inline-block;
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.header-action__signin::before,
.navbar__link::before {
    display: block;
    height: 0;
    content: attr(title);
    font-weight: 600;
    overflow: hidden;
    visibility: hidden;
}

.header-action__signin:hover,
.navbar__link--active,
.navbar__link:hover {
    color: var(--primary-color);
    font-weight: 600;
}

.header-action__signup {
    --height: 50px;

    min-width: 117px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    box-shadow: none;
    color: var(--primary-color);
    font-size: 1.4rem;
}

/* Hero */
.hero {
    margin-top: 92px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    border: 2px solid #fcdee0;
    margin: 0 0 -58px -23px;
    background: #faa7ad;
}

.hero-card {
    position: absolute;
    left: 129px;
    bottom: 0;
    align-self: flex-end;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-card-item {
    display: flex;
    column-gap: 10px;
}

.hero-card-item__img-wrap {
    display: flex;
    align-items: flex-end;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.hero-card-item__img-wrap-top {
    background: #fec23f;
}

.hero-card-item__img-wrap-bottom {
    background: #c6e2fa;
}

.hero-card-item__thumb {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero-card-item__title {
    color: #181e52;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-card-item__skeleton {
    height: 4px;
    border-radius: 10px;
    margin-top: 6px;
    opacity: 0.08;
    background: var(--primary-color);
}

.hero-card-item__skeleton-long {
    width: 118px;
}

.hero-card-item__skeleton-short {
    width: 39px;
}

.hero-card-item__separate {
    width: 100%;
    height: 2px;
    border-radius: 99px;
    margin: 20px 0;
    background: #f2f2f2;
}

.hero__heading {
    color: var(--primary-color);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    width: 391px;
}

.hero__actions {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__actions-btn {
    --height: 60px;

    min-width: 190px;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
    background: #ff5b2e;
    color: #fff;
}

.hero__actions-link {
    margin-left: 24px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}

/* About */
.about {
    margin-top: 77px;
    padding: 53px 0;
    scroll-margin-top: 60px;
}

.about__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 146px;
}

.about__label {
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    width: 446px;
    margin-top: 15px;
}

.about__desc {
    width: 431px;
}

.about__check-list {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
    margin-top: 54px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about__check-item::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #ff5d31;
    box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check-item::after {
    position: absolute;
    top: 2px;
    left: 5px;
    content: url(../icons/check.svg);
}

.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    top: 160px;
    left: 0;
    width: 136px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
    text-align: center;
}

.about__card-title {
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    line-height: 1.43;
}

.about__card-decor {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    border-radius: 16px;
    margin-left: auto;
}

.about__img-wrap::after {
    position: absolute;
    inset: auto 0 0 0;
    content: "";
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0 rgba(255, 155, 121, 0.12);
    z-index: -1;
}

.about__img {
    display: block;
    width: 450px;
    margin: 0 auto;
}

.about__media-decor {
    position: absolute;
    top: 150px;
    right: -50px;
    z-index: -2;
}

.about__img-wrap-bottom {
    width: 458px;
    border-radius: 18px;
    border: 2px solid #fff;
    margin-left: 0;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__decor-img:nth-child(5) {
    bottom: 150px;
    right: 19px;
}

.about__decor-img:nth-child(6) {
    bottom: -40px;
    right: -24px;
}
.about__decor-img:nth-child(7) {
    bottom: -47px;
    right: -33px;
}

.about__decor-img:nth-child(8) {
    bottom: -55px;
    right: -42px;
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 52px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    height: 2px;
    border-radius: 1px;
    background: #ff5b2e;
    opacity: 0.07;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 12px;
    cursor: pointer;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__icon {
    width: 20px;
    background: transparent;
}

.tab__title {
    color: #48496a;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    width: 391px;
    color: var(--third-color);
    font-size: 1.4rem;
    line-height: 1.71;
}

.tab__content-more {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    margin-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.tab__content-more::after {
    height: 1.5px;
    opacity: 1;
}

/* Services */
.service {
    padding: 68px 0 100px;
    margin-top: 185px;
    background: #fff6ed;
    scroll-margin-top: 40px;
}

.service__top {
    text-align: center;
}

.service__desc {
    margin-bottom: 15px;
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 71px;
    margin-top: 71px;
}

.service__column {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.service-item {
    width: 294px;
    padding: 30px 22px 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service-item__heading {
    position: relative;
    display: inline-block;
    padding-left: 12px;
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__heading::before {
    position: absolute;
    inset: 0 auto 0 0;
    display: inline-block;
    content: "";
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service-item__desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
}

.service-item__link {
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
    margin-top: 24px;
    color: #34396a;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    line-height: 1;
}

.service__media {
    position: relative;
    margin-top: 18px;
}

.service__media::after {
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0;
    content: "";
    height: 350px;
    margin: 0 auto;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
}

.service__cta-wrap {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.service__cta {
    min-width: 214px;
}

/* Staff */
.staff {
    padding: 130px 0;
}

.staff__top {
    text-align: center;
}

.staff_desc {
    margin-bottom: 15px;
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 45px;
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff-item__img-wrap::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 266px;
    border-radius: inherit;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-item__img {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 14px;
    border-radius: inherit;
    z-index: 1;
}

.staff-item__decor-bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.staff-item__decor-top {
    position: absolute;
    top: 33px;
    left: 50%;
    transform: translateX(-50%);
}

.staff-item__bottom {
    margin-top: 34px;
    text-align: center;
}

.staff-item__title {
    color: var(--third-color);
    font-size: 1.4rem;
    line-height: 1;
}

.staff-item__name {
    display: inline-block;
    margin-top: 14px;
    color: var(--primary-color);
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.staff__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.staff__cta {
    min-width: 193px;
}

/* Pricing */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__container {
    width: 994px;
}

.pricing__heading,
.pricing__desc {
    text-align: center;
}

.pricing__desc {
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.pricing__switch-wrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    left: auto;
    right: -1px;
    width: 131px;
}

.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(1),
.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(2) {
    color: var(--secondary-color);
}

.pricing__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 276px;
    height: 56px;
    padding: 0 40px;
    border-radius: 99px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    user-select: none;
    cursor: pointer;
}

.pricing__switch-label::before {
    position: absolute;
    top: -1px;
    left: -1px;
    content: "";
    width: 140px;
    height: 100%;
    border: 1px solid var(--secondary-color);
    border-radius: inherit;
    background: var(--secondary-color);
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.pricing__sale-off {
    position: absolute;
    top: -10px;
    right: -113px;
}

.pricing__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    margin-top: 56px;
}

.pricing-item {
    padding: 30px 28px;
    border-radius: 20px;
    background: #fff;
}

.pricing-item--active {
    box-shadow: 0 20px 44px 0 rgba(195, 108, 22, 0.06);
}

.pricing-item__type {
    color: var(--secondary-color);
    font-size: 1.2rem;
    line-height: 1;
}

.pricing-item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.pricing-item__price {
    margin-top: 24px;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03;
}

.pricing-item__btn {
    --height: 44px;

    margin-top: 22px;
    width: 100%;
    background: transparent;
    font-weight: 500;
}

.pricing-item__btn--active {
    color: #fff;
    background: var(--secondary-color);
}

.pricing-item__list {
    margin-top: 24px;
}

.pricing-item__item {
    display: flex;
    color: var(--third-color);
    font-size: 1.4rem;
    line-height: 1;
}

.pricing-item__item + .pricing-item__item {
    margin-top: 18px;
}

.pricing-item__item::before {
    content: url(../icons/pricing-check.svg);
    margin-right: 12px;
}

.pricing-item__item--disabled::before {
    opacity: 0.4;
}

/* Review */
.review {
    padding: 53px 0;
    scroll-margin-top: 60px;
}

.review__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.review__control {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border-radius: 54px;
    border: 1.5px solid #ffd1c4;
    background: transparent;
    color: var(--secondary-color);
}

.review__control:hover {
    color: #fff;
    background: #ff5b2e;
    box-shadow: 0 5px 27px 0 rgba(255, 91, 46, 0.3);
    border-color: var(--secondary-color);
    cursor: pointer;
}

.review__control:nth-of-type(2) {
    margin-left: auto;
}

.review__content {
    overflow: hidden;
}

.review__list {
    display: flex;
}

.review-item {
    display: flex;
    flex-shrink: 0;
    column-gap: 115px;
    width: 100%;
}

.review-item__media {
    position: relative;
    flex-shrink: 0;
    width: 274px;
    border-radius: 137px;
}

.review-item__media::after {
    position: absolute;
    inset: auto 0 0 0;
    content: "";
    width: 100%;
    height: 82%;
    border-radius: inherit;
    background: #ffda54;
}

.review-item__img {
    position: relative;
    display: block;
    width: 100%;
    border-radius: inherit;
    z-index: 1;
}

.review-item__content {
    width: 553px;
    margin-top: 113px;
}

.review-item__quote {
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    line-height: 1.56;
}

.review-item__author {
    display: flex;
    align-items: center;
    margin-top: 34px;
    color: #282828;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.review-item__author::before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 2px;
    border-radius: 1px;
    margin-right: 8px;
    background: #000;
}

.review__dots {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-top: 56px;
}

.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid var(--secondary-color);
}

.review__dot:hover {
    background: var(--secondary-color);
    cursor: pointer;
}

.review__dot--active {
    width: 24px;
    background: var(--secondary-color);
}
